/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

/*--------------------*/

body {
	font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
	padding: 125px 290px;
	width: 1440px;
	height: 1700px;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ebf1f6+0,abd3ee+50,89c3eb+51,d5ebfb+100;Blue+Gloss+%234 */
background: rgb(235,241,246); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(235,241,246,1) 0%, rgba(171,211,238,1) 50%, rgba(137,195,235,1) 51%, rgba(213,235,251,1) 100%) fixed; /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%) fixed; /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%) fixed; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf1f6', endColorstr='#d5ebfb',GradientType=0 ); /* IE6-9 */


}

.travel {
	font-size: 14px;
	letter-spacing: 3px;
	line-height: 40px;
	color: #273d46be;
	font-family: "Arial";
	text-align: center;
	margin-left: -100px;
}

.donec {
	font-size: 36px;
	line-height: 50px;
	color: #273d46;
	font-family: "Times New Roman";
	text-align: center;
}

.imgcontainer {
	box-shadow: 0 0 10px black;
	margin: 70px 40px 20px 0;
	border-radius: 20px;
	overflow: hidden;
	width:821;
	height:541 ;

}



.text1, .text2 {
	text-indent: 10px;
	font-size: 24px;
	line-height: 40px;
	color: #273d46a6;
	padding: 20px 0 20px 0;
}

.list{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 20px;
	margin: 30px 0 30px 0;
}

.list li{
	background: url('/img/icons/li.svg') 0 3px no-repeat;
	margin: 20px 0 15px;
	padding: 0 0 0 25px;
}
.fullstory{
	padding: 7px 0 0 0;
	text-align: center;
	color: white;
	box-shadow: 0 0 5px darkcyan;
	background-color: rgb(0, 255, 213);
	border-radius: 10px;
	height: 30px;
	width: 180px;
}
.fullstory:hover{
	box-shadow: 0 0 5px rgb(1, 158, 158);
	background-color: rgb(2, 227, 189);
	cursor: pointer;
}
.li1{
	text-shadow: 0 0 3px rgba(0, 0, 0, 0.509);
}
.li2{
	font-style: italic;
	color: rgb(0, 255, 213);
}
.li3{
	font-weight: 600;
}
.li4{
	text-decoration: line-through;
	color: rgba(128, 128, 128, 0.806);
}
